.feynman {
    box-sizing: border-box;
    position: relative;
    padding-top: 100px;
    min-height: 890px;
    background: #f2f2f2 url('./feynman.png') no-repeat;
    background-size: 867px 637px;
    background-position: bottom left;
}