.feynman {
    position: relative;
    padding-top: 100px;
    min-height: 890px;
    background-color: #f2f2f2;
    background-image: url('./feynman.png');
    background-size: 867px 637px;
    background-position: bottom left;
    background-repeat: no-repeat;
}